<div class="signup-page bg1">
  <div class="signup-page-overlay"></div>
  <div class="signup-page-wrapper">
    <a href="#" class="signup-logo"></a>
    <p>分享您的旅行箱，结交更多好朋友</p>
    <input type="text" class="signup-email" value="Email">
    <input type="text" class="signup-password" value="Password">
    <div class="one-half">
      <a href="#" class="button button-green full-button">Signup</a>
    </div>                
    <div class="one-half last-column">
      <a href="pageapp-login.html" class="button button-blue full-button">Login</a>
    </div>
    <div class="clear"></div>
  </div>
</div>