body,h4,h5,h6 {
font-size:1em;
}

a,button {
outline:0;
}

body {
-webkit-text-size-adjust:none;
font-family:"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}

input,select,textarea {
font-size:100%;
font-family:inherit;
}

body,button,dd,dl,dt,form,h1,h2,h3,h4,h5,h6,html,input,ol,p,textarea,ul {
-webkit-box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
word-wrap:break-word;
word-break:break-all;
margin:0;
padding:0;
}

ol,ul {
padding-left:0;
list-style-type:none;
}

img {
border:0;
}

a {
color:#333;
text-decoration:none;
}

input,textarea {
outline:0;
border-radius:0;
}

i {
font-style:normal;
}

button {
border:none;
background:0 0;
}

.mask,.simpledialog,.tipdialog {
position:absolute;
}

.menudialog-group,.tipdialog {
border-radius:3px;
-ms-boder-radius:3px;
}

.mask {
position:fixed;
z-index:10000;
top:0;
bottom:0;
left:0;
right:0;
background:rgba(0,0,0,.81);
}

.simpledialog {
z-index:10001;
width:305px;
background-color:#fff;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-ms-boder-radius:3px;
}

.buttondialog-word {
text-align:center;
font-size:16px;
border-bottom:1px solid #dcdcdc;
color:#333;
word-break:normal;
padding:19px 32px 18px;
}

.buttondialog-op {
display:box;
}

.buttondialog-op button {
line-height:45px;
color:#ff6900;
font-size:17px;
text-align:center;
display:block;
border-left:1px solid #dcdcdc;
-webkit-box-flex:1;
-ms-flex:1 0 auto;
-moz-box-flex:1;
box-flex:1;
}

.buttondialog-op button:first-child {
border-left:none;
}

.tipdialog {
z-index:10001;
background-color:rgba(0,0,0,.5);
-moz-border-radius:3px;
-webkit-border-radius:3px;
transition:opacity 300ms linear;
-webkit-transition:opacity 300ms linear;
}

.tipdialog-content {
width:270px;
font-size:17px;
text-align:center;
color:#fff;
padding:10px 12px;
}

.tipdialog-content .icon-tick {
color:#53c123;
vertical-align:-1px;
}

.tipdialog-content .icon-cross {
color:red;
vertical-align:-1px;
}

.menudialog {
position:fixed;
width:100%;
bottom:0;
z-index:10001;
}

.menudialog-group {
background-color:#fff;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin:10px;
}

.menudialog-item-button,.menudialog-item-cancel,.menudialog-item-html {
text-align:center;
border-top:1px solid #d2d2d2;
}

.menudialog-item-button,.menudialog-item-cancel {
font-size:20px;
padding:11px;
}

.menudialog-item-first {
border:none;
}

.menudialog-item-button {
color:#ff6900;
}

.menudialog-item-cancel {
color:#959595;
}

.commondialog-close {
position:absolute;
top:0;
right:0;
width:36px;
height:35px;
z-index:10;
}

.commondialog-close i {
width:11px;
height:10px;
display:block;
font-size:14px;
color:#a0a0a0;
line-height:10px;
text-indent:-2px;
margin:15px 0 0 10px;
}

.commondialog-content {
padding:15px 20px;
}

.contentdialog {
width:100%;
height:100%;
overflow:hidden;
border-radius:3px;
-webkit-border-radius:3px;
-ms-boder-radius:3px;
}

.contentdialog-head {
height:33px;
background-color:#f4f4f4;
}

.contentdialog-title {
float:left;
margin-left:9px;
height:33px;
line-height:33px;
font-size:13px;
color:#333;
}

.contentdialog-close {
float:right;
color:#999;
height:33px;
line-height:33px;
padding:0 10px;
}

.fl,.footer li {
float:left;
}

.contentdialog-body {
height:100%;
margin-top:-33px;
padding-top:33px;
box-sizing:border-box;
}

.clearfix:after {
visibility:hidden;
display:block;
font-size:0;
content:" ";
clear:both;
height:0;
}

.header,.header img {
height:140px;
}

.justify-word:after,.loading-ico:before {
content:"";
}

.clearfix {
zoom:1;
}

.header {
text-align:center;
background:#000;
overflow:hidden;
}

.content {
margin-bottom:72px;
overflow-y:scroll;
}

.no-footer {
margin-bottom:40px;
}

.footer {
position:fixed;
bottom:0;
width:100%;
background-color:#E6E6E6;
}

.footer li {
width:25%;
height:51px;
text-align:center;
}

.footer li.tab-1 {
background-color:#1d2088;
}

.footer li.tab-2 {
background-color:#00479d;
}

.footer li.tab-3 {
background-color:#0068b7;
}

.footer li.tab-4 {
background-color:#2c80c0;
}

.footer a {
padding-top:6px;
text-decoration:none;
display:block;
height:80px;
color:#fff;
font-size:12px;
}

.footer i {
font-weight:700;
font-size:18px;
margin-top:8px;
color:#fff;
}

.footer .active {
background-color:#F15A24;
color:#fff;
}

.fr {
float:right;
}

.tl {
text-align:left;
overflow:hidden;
}

.footer .icon--01,.footer .icon--02 {
font-size:22.5px;
}

.footer .icon--04 {
font-size:22px;
}

.justify-word {
overflow:hidden;
display:inline-block;
text-align:justify;
}

.justify-word:after {
display:inline-block;
width:100%;
}

.text-overflow-ellipsis-2,.text-overflow-ellipsis-3 {
line-height:1.15em;
display:0;
-webkit-box-orient:vertical;
overflow:hidden;
}

.borderradius-1 {
border-radius:1px;
-moz-border-radius:1px;
-webkit-border-radius:1px;
}

.borderradius-2 {
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
}

.borderradius-3 {
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
}

.borderradius-4 {
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
}

.borderradius-5 {
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.text-overflow-ellipsis {
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}

.text-overflow-ellipsis-2 {
max-height:2.3em;
-webkit-line-clamp:2;
}

.text-overflow-ellipsis-3 {
max-height:3.45em;
-webkit-line-clamp:3;
}

to {
transform:rotate(360deg);
-webkit-transform:rotate(360deg);
}

.loading-tip {
text-align:center;
font-size:14px;
height:26px;
line-height:26px;
}

.loading-ico:before {
display:inline-block;
position:relative;
left:-11px;
border:0;
background:0;
width:2px;
height:2px;
border-radius:100%;
box-shadow:0 -7px 0 .9px #666,7px 0 #999,0 7px #999,-7px 0 #999,-5px -5px 0 .4px #999,5px -5px 0 1.1px #666,5px 5px #999,-5px 5px #999;
transform:rotate(360deg);
animation:spin 1.5s linear infinite;
-webkit-transform:rotate(360deg);
-webkit-animation:spin 1.5s linear infinite;
top:-4px;
padding:0;
}

.bigloading-mask {
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
z-index:999;
}

.bigloading-block {
width:50px;
height:40px;
background-color:rgba(0,0,0,.7);
position:fixed;
top:50%;
left:50%;
margin-top:-20px;
margin-left:-25px;
}

.bigloading-block-i {
width:24px;
height:24px;
background-image:asset-url("wechat/bigloading.png");
background-size:100%;
display:block;
transform:rotate(360deg);
animation:spin 1.5s linear infinite;
-webkit-transform:rotate(360deg);
-webkit-animation:spin 1.5s linear infinite;
margin:8px auto;
}

.loading {
text-align:center;
}

.no-more-results {
display:block;
padding-top:8px;
color:#666;
text-align:center;
}

.btn {
display:block;
margin-top:10px;
padding:8px 0;
width:100%;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
color:#fff;
text-align:center;
}

.btn-primary {
background-color:#428bca;
}

.btn-success {
background-color:#5cb85c;
}

.btn-info {
background-color:#5bc0de;
}

.btn-warning {
background-color:#f0ad4e;
}

.btn-danger {
background-color:#d9534f;
}

.btn-muted {
background-color:#777777;
}

.text-primary {
color:#428bca;
}

.text-success {
color:#5cb85c;
}

.text-info {
color:#5bc0de;
}

.text-warning {
color:#f0ad4e;
}

.text-danger {
color:#d9534f;
}

.text-muted {
color:#777777;
}

.panel {
margin:5px auto;
padding:10px;
width:90%;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
background-color:#f4f4f4;
  h1 {
    margin-bottom:8px;
    padding-bottom:8px;
    border-bottom:1px #bbb solid;
    font-size:20px;
    color:#428bca;
    i {
      margin-right: 10px;
    }
  }
}

.panel-notice {
  h1 {
    margin-bottom:8px;
    padding-bottom:8px;
    border-bottom:1px #bbb solid;
    font-size:20px;
    color:#428bca;
  }
  p {
    font-size:16px;
    line-height:22px;
  }
}

.panel-instruction {
  ul {
    li {
      margin-bottom: 10px;
      h3 {
        margin-bottom: 10px;
        font-size: 18px;
      }
      p {
        color: #888;
        line-height: 20px;
      }
    }
  }
}