<div class="content no-footer">
  <div class="panel panel-instruction">
    <h1><i class="fa fa-info-circle"></i>信鸽教程</h1>
    <ul>
      <li>
        <h3>第一步：接单</h3>
        <p>根据买家发布的需求，您可以选择性的接受可以购买的订单，其中预估价格为买家最高能接受的价格，若您认为不合理，请不要接此订单。另外，您可获得商品价格5%的佣金作为回报。</p>
      </li>
      <li>
        <h3>第二步：购物</h3>
        <p>接单成功后，您就可以去购买商品啦，请仔细对照买家需求进行购物，买错了会很麻烦的噢！</p>
      </li>
      <li>
        <h3>第三步：送达</h3>
        <p>买到商品后，等待买家支付尾款，就可以发货啦</p>
      </li>
    </ul>
    <%= link_to '开始体验', read_before_path, class: 'btn btn-success' %>
  </div>
</div>