<div class="content no-footer">
  <div class="panel panel-instruction">
    <h1><i class="fa fa-info-circle"></i>买家教程</h1>
    <ul>
      <li>
        <h3>第一步：发布需求</h3>
        <p>描述商品信息，上传几张商品图片，选择购买的国家或地区，最后填写预估价。请注意，预估价也是您对该商品最高可接受的价格。大功告成后，请先支付70%的费用。</p>
      </li>
      <li>
        <h3>第二步：信鸽接单</h3>
        <p>有旅行者同意帮您带商品，我们会通过多种途径通知您，您和旅行者也可以就商品细节进行沟通。</p>
      </li>
      <li>
        <h3>第三步：买买买</h3>
        <p>旅行者按照您的需求买到了商品，会上传照片及购物凭证确认，另外还会确定实际购买价格，您可能需要补交尾款。</p>
      </li>
      <li>
        <h3>第四步：到您手中</h3>
        <p>旅行者回国后，会通过快递等方式为您安排商品物流，您收到货物并确认无误后，即可享受海外购物的乐趣！</p>
      </li>
    </ul>
    <%= link_to '开始体验', read_before_path, class: 'btn btn-success' %>
  </div>
</div>