<div class="header-clear-extra"></div>
<div class="content">
  <div class="container no-bottom">
    <h3>发布需求</h3>
  </div>
  <div class="decoration"></div>
  <div class="container no-bottom">
    <%= text_area_tag :content, nil, class: 'text-area' %>
  </div>
</div>