<div class="header-clear-extra"></div>
<div class="content">
  <div class="container no-bottom">
    <h3>需求发布成功！</h3>
  </div>
  <div class="decoration"></div>
  <%= @task.estimate_price %>
  <p>请选择付款方式：</p>
</div>