<div class="content">
  <div class="supplied-task-list">
    <%= render partial: 'wechat/tasks/supplied/tasks', locals: { tasks: @tasks } %>
  </div>
</div>
<%= footer_tag %>
<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      $('.supplied-task-list').jscroll({
        callback: function() {
          FastClick.attach(document.body);
          $("img.lazy").lazyload();
        }
      });
    });
  </script>
<% end %>