<!DOCTYPE HTML>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>小信鸽 - 分享你的旅行箱</title>
  <%= stylesheet_link_tag 'wechat', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'wechat', 'data-turbolinks-track' => true %>
</head>
<body>
  <div id="preloader">
    <div id="status">
      <p class="center-text">正在加载内容...<em>加载时间取决于您的网络连接速度</em></p>
    </div>
  </div>
  <ul class="menu-top">
    <li><a href="index.html"><i class="fa fa-home"></i>Homepage<i class="fa fa-circle"></i></a></li>
    <li>
      <a class="has-submenu" href="#"><i class="fa fa-cog"></i>Features<i class="fa fa-plus"></i></a>
      <ul class="submenu">
          <li><a href="features-type.html"><i class="fa fa-angle-right"></i>Type Features<i class="fa fa-circle"></i></a></li>
          <li><a href="features-jquery.html"><i class="fa fa-angle-right"></i>jQuery Features<i class="fa fa-circle"></i></a></li>
          <li><a href="features-others.html"><i class="fa fa-angle-right"></i>Other Features<i class="fa fa-circle"></i></a></li>
      </ul>
    </li>
    <li>
      <a class="has-submenu" href="#"><i class="fa fa-camera"></i>Media<i class="fa fa-plus"></i></a>
      <ul class="submenu">
        <li><a href="gallery-square.html"><i class="fa fa-angle-right"></i>Square Gallery<i class="fa fa-circle"></i></a></li>
        <li><a href="gallery-round.html"><i class="fa fa-angle-right"></i>Round Gallery<i class="fa fa-circle"></i></a></li>
        <li><a href="gallery-wide.html"><i class="fa fa-angle-right"></i>Wide Gallery<i class="fa fa-circle"></i></a></li>
        <li><a href="portfolio-adaptive.html"><i class="fa fa-angle-right"></i>Adaptive Portfolio<i class="fa fa-circle"></i></a></li>
        <li><a href="portfolio-one.html"><i class="fa fa-angle-right"></i>One Column Portfolio<i class="fa fa-circle"></i></a></li>
        <li><a href="portfolio-two.html"><i class="fa fa-angle-right"></i>Two Column Portfolio<i class="fa fa-circle"></i></a></li>
      </ul>
    </li>
    <li>
      <a class="has-submenu" href="#"><i class="fa fa-files-o"></i>Pages<i class="fa fa-plus"></i></a>
      <ul class="submenu">
        <li><a href="page-charts.html"><i class="fa fa-angle-right"></i>Charts & Pies<i class="fa fa-circle"></i></a></li>
        <li><a href="page-error.html"><i class="fa fa-angle-right"></i>404 Page<i class="fa fa-circle"></i></a></li>
        <li><a href="page-soon.html"><i class="fa fa-angle-right"></i>Soon Page<i class="fa fa-circle"></i></a></li>
        <li><a href="page-updates.html"><i class="fa fa-angle-right"></i>Updates Page<i class="fa fa-circle"></i></a></li>
        <li><a href="page-timeline.html"><i class="fa fa-angle-right"></i>Timeline Page<i class="fa fa-circle"></i></a></li>
        <li><a href="page-videos.html"><i class="fa fa-angle-right"></i>Video Page<i class="fa fa-circle"></i></a></li>
        <li><a href="index2.html"><i class="fa fa-angle-right"></i>Clasic Homepage<i class="fa fa-circle"></i></a></li>
      </ul>
    </li>
    <li>
      <a class="has-submenu" href="#"><i class="fa fa-mobile"></i>App Specific<i class="fa fa-plus active-plus"></i></a>
      <ul class="submenu show-submenu">
        <li class="active-menu"><a href="pageapp-login.html"><i class="fa fa-angle-right"></i>Login<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-singup.html"><i class="fa fa-angle-right"></i>Signup<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-coverpage.html"><i class="fa fa-angle-right"></i>Coverpage<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-userlist.html"><i class="fa fa-angle-right"></i>Userlist<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-calendar.html"><i class="fa fa-angle-right"></i>Calendar<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-activity.html"><i class="fa fa-angle-right"></i>Activity Feed<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-chat.html"><i class="fa fa-angle-right"></i>Chat Bubbles<i class="fa fa-circle"></i></a></li>
        <li><a href="pageapp-share.html"><i class="fa fa-angle-right"></i>Share Boxes<i class="fa fa-circle"></i></a></li>
      </ul>
    </li>
    <li><a href="contact.html"><i class="fa fa-envelope-o"></i>Contact<i class="fa fa-circle"></i></a></li>
    <li><a class="close-menu" href="#"><i class="fa fa-times"></i>Close<i class="fa fa-circle"></i></a></li>
  </ul>
  <div class="header">
    <a href="index.html" class="header-logo"></a>
    <a href="#" class="header-navigation show-navigation"><i class="fa fa-navicon"></i></a>
  </div>
  <div class="header-clear"></div>
  <%= yield %>
  <div class="footer disabled">
    <div class="footer-socials half-bottom">
      <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
      <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
      <a href="#" class="footer-google"><i class="fa fa-google-plus"></i></a>
      <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
      <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
    </div>
    <p class="center-text">Copyright 2015. All rights reserved.</p>
  </div>
  <div class="menu-wrapper-background"></div>
</body>